<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.magency.huzaima.timer">

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeWithActionBar">
        <activity android:name=".Activity.TimerActivity" />
        <activity
            android:name=".Activity.WelcomeActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.CreateTimerActivity" />
        <activity android:name=".Activity.ListTimerActivity" />
        <activity
            android:name=".Activity.ListTimerExpandedActivity"
            android:parentActivityName=".Activity.ListTimerActivity" />

        <receiver
            android:name=".BroadcastReceiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".Service.AlarmService"
            android:exported="false" />

        <activity
            android:name=".Activity.AlarmRingingActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
    </application>

</manifest>